*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
:root
{
    --color--:brown
}
.root
{
    width:70%;
    height:250px;
    border:1px solid black;
    margin:100px auto;
    >p
    {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:20px;
        color:var(--color--);
    }
    >h3
    {
        color:red;
    }
    >h4
    {
        color:blue;
    }
}

.ba
{
    width:70%;
    height: 150px;
    /* border:1px solid black; */
    margin:100px auto; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:20px;  
    >p
    {
        &::before
        {
            content:"Lorem";
            color:red;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size:30px;
        }
        &::after
        {
            content:"odio";
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size:40px;
            color:blue;
        }
    }
   
}
input[type=text]
{
    color:blueviolet;
    width: 200px;
    height: 40px;
    font-size:20px;
    margin:100px auto;
    display: flex;
    text-align: center;
    caret-color:darkorange;
    &::placeholder
    {
        color:darkcyan;
        padding:20px;
    }
    
    
}
.pp
{
    width: 50%;
    margin:100px auto;
    padding: 20px;;
    border:2px solid black;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    &::first-letter
    {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color:red;
        font-size:30px;

    }
    &::first-line
    {
        color:blue;
        font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
        font-size: 40px;
    }
    &::selection
    {
        background-color: red;
        color:darkorchid;
    }
}
.bg
{
   width:100%;
   height:150vh;
   background-image:url(../img/bg.jpg);
   background-repeat: no-repeat;
   &:nth-of-type(1)
   {
    background-size:50% auto;
    background-position: center;
   }
   &:nth-of-type(2)
   {
    background-size:100% auto;
   }
   &:nth-of-type(3)
   {
    background-size: cover;
    background-attachment: fixed;
   }
  
}
