*,
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body
{
    background-color: rgb(64,64,64);
    /* direction:rtl; */
}
.main2
{
    >*
    {
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
>.card
    {
        width:400px;
        height: 400px;
        padding:20px;
        border:2px solid black;
        &:hover
        {
            border-radius:40px;
            transition:1s;
        }
        >img
        {
            &:hover
            {
                border-radius:30px;
                transition:1s;
            }
        }
        >figcaption
        {
             &:hover
            {
                border-radius:50px;
                transition:1.5s;
            }
        }
        >img
        {
        width: 100%;
        height: 300px;
        background-color: white;
        object-fit: cover;
      
        }
        >figcaption
        {
            width: 100%;
            background-color: black;
            color:wheat;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            padding: 10px 0 ;
            display: flex;
            justify-content: center;
        }
    } 

}
