:root
{
    --IconGold:rgb(207,159,2);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.body
{
    background-color:rgb(34,34,34);
    background-image:url(../img/back_one_head.png);
}
.menu
{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.43);
    margin-top:100px;
    display: flex;
    padding:0 10%;
    
    >*
    {
        height: 100%;
        /* border:2px solid red; */
    }
    >form
    {
        width: 30%;
        display: flex;
        align-items:center;
        position:relative;
        >input[type="text"]
        {
            width: 100%;
            height: 40px;
            border-radius:50px;
            border:none;
            outline: none;
            padding-left: 10px;
            &::placeholder
            {
                font-size:20px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
            
        }
        >input[type="submit"]
        {
            display: none;
        }
        >label
        {
            display: flex;
            /* border: 1px solid yellow; */
            width: 40px;
            height: 40px;
            position: absolute;
            right: 10px;
            top:30px;
            cursor: pointer;

        }
    }
    >nav
    {
        width: 70%;
        >ul
        {
            width: 100%;
            height: 100%;
            /* background-color:red; */
            display: flex;
            justify-content: end;
            gap:10px;
            flex-direction: row-reverse;
            >li
            {
                width: auto;
                height: 100%;
                /* border:1px solid gray; */
                min-width:50px;
                list-style-type: none;
                position: relative;
                &:hover
                {
                    >ul
                    {
                        opacity:1;
                        visibility:visible;
                    }
                }
                
                >a
                {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    text-decoration: none;
                    text-transform: capitalize;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    /* background-color: orange; */
                    >div
                    {
                        height:100%;
                        /* border:1px solid white; */
                        display: flex;
                        &:first-of-type
                        {
                            width: 60%;
                            flex-wrap: wrap;
                            >strong
                            {
                              display: flex;
                              width: 100%;
                              height: 50%;
                              font-weight:normal;
                              gap:20px;
                              /* border:1px solid red; */
                              justify-content: center;
                              &:first-of-type
                              {
                                align-items: end;
                                color:white;
                              } 
                              &:last-of-type
                              {
                                color: var(--IconGold);
                              } 
                            }
                            
                        }
                        &:last-of-type
                        {
                            /* icon-place */
                            align-items: center;
                            width: 40%;
                            color:var(--IconGold);
                            padding:0 3px;
                            transition:0.4s;
                            &:hover
                            {
                                scale:1.2;
                            }
                            
                           
                        }
                        
                    }

                }
                >ul
                {
                    opacity:0;
                    visibility:hidden;
                    /* background-color: red; */
                    width: 500px;
                    height: 250px;
                    position: absolute;
                    top:100px;
                    right:0;
                    transition:1s;
                        &::before
                            {
                                content:'';
                                display: flex;
                                width: 0;
                                height: 0;
                                border-top:none;
                                border-bottom:10px solid rgba(255, 255, 255, 0.43);
                                border-right:10px solid rgba(35, 19, 19, 0);
                                border-left:10px solid rgba(216, 48, 48, 0);
                                position: absolute;
                                top:5px;
                                right:40%;
                                
                            }
                    >li
                    {
                        width: 100%;
                        height:calc(100% - 15px);
                        margin-top: 15px;
                        border-radius:20px;
                        background-color:rgba(255, 255, 255, 0.43);
                        background-image:url(../img/09994db832d.png);
                        background-position:left bottom;
                        background-repeat: no-repeat;
                        background-size:auto 70%;
                        display: flex;
                        justify-content:end;
                        >ul
                        {
                            width: 25%;
                            height: 100%;
                            border:1px solid red;
                        
                            >li
                            {
                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                list-style-type: disc;
                                &::marker
                                {
                                    font-size: 40px;
                                    color: yellow;
                                }

                            }
                         
                        }
                    }
                }
            }
            }
    }
}
