*,
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body
{
    background-color: rgb(64,64,64);
    /* direction:rtl; */
}
.container
{
    width: 700px;
    height: 350px;
    margin: 100px auto;
    border: 2px solid black ;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items:stretch;
    /* flex-direction:row;
    flex-wrap:wrap-reverse; */
    /* flex-flow:wrap row; */
    /* x axis */
    
    /* y axis */
    
    /* y if multi rows */
    /* align-content:center; */
    >div
    {
        flex-basis:100px;
        flex-grow:1;
        flex-shrink:1;
        /* flex:shrink grow basis */
        /* height: 100px; */
        border:1px solid yellow;
        background-color: blueviolet;
        /* margin:3px 3px; */
        transition:1s;
        background-image:url(../images/beautiful-flowers-rose.webp);
        background-size:auto 100%;
        &:hover
        {
            flex-grow:10;
        }

    }

}
