
.body2
{
    >h1
    {
        font-size: 20rem;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 100px;
        background-image:url(../image/images.jfif);
        color:transparent;
        background-clip:text;
        transition:3s;
        &:hover
        {
           background-position:-400px; 
        }
        
    }
}
/* end */

.box3
{
    width: 300px;
    height: 300px;
    background-image:url(../image/images.jfif);
    background-size:cover;
    margin:200px auto;
    transition:2s;
    box-shadow:none !important;
    &:nth-of-type(1)
    {
        &:hover
        {
            transform:rotate(45deg);
        }
    }
    &:nth-of-type(2)
    {
        &:hover
        {
            transform:perspective(800px)rotateX(150deg);
        }
    }
    &:nth-of-type(3)
    {
        &:hover
        {
            transform:perspective(800px)rotateY(150deg);
        }
    }
    &:nth-of-type(4)
    {
        transform-origin:0 0;
        &:hover
        {
            transform:rotate(150deg);
        }
    }
    &:nth-of-type(5)
    {
        transform-origin:left;
        &:hover
        {
            transform:perspective(900px)rotateY(-45deg);
        }
        
    }
    &:nth-of-type(6)
    {
        &:hover
        {
            rotate:3600deg;
        }
        
    }
    &:nth-of-type(7)
    {
        &:hover
        {
            transform:rotate3d(1,10,1,360deg);
        }
        
    }
    &:nth-of-type(8)
    {
        &:hover
        {
            transform:scale(3);
        }
        
    }
    &:nth-of-type(9)
    {
        &:hover
        {
            transform:scale(0.3);
        } 
    }
    &:nth-of-type(10)
    {
        transform-origin:left;
        &:hover
        {
            transform:scaleX(3);
        } 
    }
    &:nth-of-type(11)
    {
        &:hover
        {
            transform:scaleX(-1);
        } 
    }
    &:nth-of-type(12)
    {
        &:hover
        {
           scale:2;
        } 
    }
    &:nth-of-type(13)
    {
        &:hover
        {
           transform:translate(100px,400px);
        } 
    }
    &:nth-of-type(14)
    {
        &:hover
        {
           transform:perspective(800px) translateZ(400px);
        } 
    }
    &:nth-of-type(15)
    {
        &:hover
        {
           translate:100px 200px;
        } 
    }
    &:nth-of-type(16)
    {
        &:hover
        {
           transform:skew(20deg,-30deg);
        } 
    }
}
/* end */
