
.body2
{
    >h1
    {
        font-size: 20rem;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 100px;
        background-image:url(../image/images.jfif);
        color:transparent;
        background-clip:text;
        transition:3s;
        &:hover
        {
           background-position:-400px; 
        }
        
    }
}
/* end */

