*,*::before,*::after
{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
.main5
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,25%);
    grid-template-rows: repeat(3,33%);
    gap:30px;
    padding:10px;

    >div
    {
        border:1px solid black;
        :nth-of-type(1)
        {
            width: 100%;
            height: 100%;
            object-fit:cover;

        }
        &:nth-of-type(3)
        {
            grid-row:1/span 2;
            grid-column:3/span 1;
        }
        &:nth-of-type(4)
        {
            grid-column:4/ span 2;
            
        }
        &:nth-of-type(6)
        {
            grid-area:2 / 2/span 2;
        }
        &:nth-of-type(7)
        {
            grid-area: 2/ 4 / span 2 / span 2;
        }
    }
}
