:root
{
    --IconGold:rgb(207,159,2);
}
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.body
{
    background-color:rgb(34,34,34);
    background-image:url(../img/back_one_head.png);
}

.menu2
{
   width: 100%; 
   height: 100px;
   background-color:rgb(185,185,185);
   display: flex;
   padding:0 5%;
   position: relative;
   >*
   {
     height: 100%;
     /* border:1px solid red;    */

   }
   >figure
   {
      width:20%;
      display: flex;
      justify-content: start;  
      align-items: center;
      >img
      {
        height: 55%;
      }
   }

   >nav
   {
        width:80%;
        >ul
        {
            width: 100%;
            height: 100%;
            /* background-color:red; */
            display: flex;
            /* justify-content: flex-end; */
            flex-direction:row-reverse;
            >li
            {
                list-style-type: none;
                height: 100%;
                /* border:1px solid yellow; */
                >a
                {
                    /* background-color:purple; */
                    display: flex;
                    width: 100%;
                    height: 100%;
                    text-decoration:none;
                    color:black;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    align-items: center;
                    transition:0.4s;
                    padding:0 20px;
                    &:hover
                    {
                        background-color:#2c7a7b;
                        color:white;
                    }
                }
                &:hover
                {
                    >ul
                    {
                        height: 350px;
                    }
                }
                >ul
                {
                    transition:1s;
                    /* mega menu */
                    width: 100vw;
                    height: 0px;
                    overflow: hidden;
                    background-color:#2c7a7b;
                    position: absolute;
                    top: 100px;
                    right:0;
                    >li
                    {
                        list-style-type: none;
                        width: 100%;
                        height: 100%;
                        >div
                        {
                            width: 100%;
                            padding:20px 10%;
                            /* border:1px solid whitesmoke;  */
                            &:first-of-type
                            {
                                >*
                                {
                                    color:white;
                                    text-align: center;
                                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                }
                                >h2
                                {
                                    font-size: 33px;
                                }
                                >p
                                {
                                    font-size:20px;
                                }
                            }
                            &:last-of-type
                            {
                                display: flex;
                                >div
                                {
                                    border-left:1px solid green;
                                    padding-left:1%;
                                    width: 25%;
                                    height: 200px;
                                    color:white;
                                    &:nth-of-type(1)
                                    {
                                        border-left:initial;
                                    }
                                    /* border:1px solid red; */
                                    >div
                                    {
                                        &
                                        {
                                            /* line 1 */
                                            display: flex;
                                            >*
                                            {
                                                /* border:1px solid rebeccapurple; */
                                            }
                                            >div
                                            {
                                               width: 20%;
                                               
                                            }
                                            >h3,>a
                                            {
                                                width: 80%;
                                                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                                display: flex;
                                                align-items: center;
                                                padding-left:10px;
                                            }
                                            >a
                                            {
                                                text-decoration: none;
                                                color:white;
                                            } 
                                        }
                                    }
                                >p
                                {
                                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                                    font-style: 20px;
                                    margin:5px 0;
                                }    
                                }
                            }
                        }
                    }
                    
                }
            }
        }
   }

}
